.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}


.header-flat {
    border: 1px solid #dce0e0;
}

.header-flat h1 {
    font-size: 18px;
    margin-top: 0;
}

.header-flat-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px;
    padding-left: 0;
}
